<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="rgb(165, 255, 195);" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" href="/css/favicon.png" />
  <title>FIVEM TRAINER</title>
</head>

<body>

  <div class="headerContainer">
    <a class="textBig">FIVEM TRAINER</a>
  </div>

  <div class="centerContainer">
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/clientside/hack.js"></script>

</body>

</html>